name: publish

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 15 * * *"

permissions:
  contents: read
  id-token: write
  pages: write

concurrency:
  cancel-in-progress: true
  group: pages

jobs:
  publish:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/github-script@v6
        id: github-script
        with:
          script: return process.env.GITHUB_REPOSITORY.split('/')[1]
          result-encoding: string
      - uses: r7kamura/weneedfeed-action@v3
        with:
          base_url: https://${{ github.repository_owner }}.github.io/${{ steps.github-script.outputs.result }}
      - uses: actions/configure-pages@v1
      - uses: actions/upload-pages-artifact@v1
        with:
          path: output
      - uses: actions/deploy-pages@main
        id: deployment
